@model IEnumerable<GinPair.Models.Gin>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gin Pair!</h1>
    <p>Your ultimate guide to the perfect gin and tonic pairing! Discover the art of balancing flavors with our expertly curated recommendations.</p>
</div>
<div>
<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group mb-2"> 
        <input type="text" name="searchString" class="form-control col-md-4" placeholder="Search for gin name" value="@ViewData["CurrentFilter"]" /> 
    </div> 
    <button type="submit" class="btn btn-primary mb-2">Search</button>
    <a asp-action="Index" class="btn btn-secondary mb-2">Clear</a>
 </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.GinName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Distillery)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.GinDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => f.GinName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => f.Distillery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => f.GinDescription)
                </td>
            </tr>
        }
    </tbody>
</table>