@model GinPair.Models.PairingVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gin Pair!</h1>
    <p>Your ultimate guide to the perfect gin and tonic pairing! Discover the art of balancing flavors with our expertly curated recommendations.</p>
</div>
<div>
<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group mb-2"> 
        <input type="text" name="searchString" class="form-control col-md-4" placeholder="Search for a gin to discover pairings" value="@ViewData["CurrentFilter"]" /> 
    </div> 
    <button id="ginSearchButton" type="submit" class="btn btn-primary mb-2">Search</button>
 </form>
</div>

<p>Try pairing @Model.Distillery @Model.GinName with a @Model.TonicBrand @Model.TonicFlavour!</p>

