@model GinPair.Models.UpdatePageVM 

@{
    ViewData["Title"] = "UpdatePage";
}

<h1>UpdatePage</h1>

<p>View updates...</p>

<hr />
<h2>GnT info</h2>

@foreach (var f in Model.Gins) 
 { 
     <p>@f.GinId @f.GinName @f.Distillery</p> 
 } 
 <hr /> 

<h2>Event Info</h2>
<p>Here is some info: @Model.ReleaseName</p>
<p>Here is some info: @Model.SomeData</p>


<hr />
@foreach(var f in Model.LifeEvents ){
    <p>@f.When @f.EventName</p>
}
<p>End</p>